@section Title {
    Aggiungi Dipendenti
}

@section PreTitle {
    <h3>Compila il form per l'aggiunta di nuovi dipendenti.</h3>
}

<form>
    <label for="fname">Nome:</label>
    <input type="text" id="Nome"><br><br>

    <label for="lname">Cognome:</label>
    <input type="text" id="Cognome"><br><br>

    <label for="fname">Indirizzo:</label>
    <input type="text" id="Indirizzo"><br><br>

    <label for="fname">Codice Fiscale:</label>
    <input type="text" id="CodFis"><br><br>

    <label for="fname">Sposato:</label>
    <input type="text" id="Sposato"><br><br>

    <label for="fname">Figlio:</label>
    <input type="text" id="Figlio"><br><br>

    <label for="fname">Mansione:</label>
    <input type="text" id="Mansione"><br><br>

    <input type="submit" value="Submit">
</form>