@section Title {
    Dipendenti
}

@section PreTitle {
    <h3>Lista Dipendenti</h3>
}

<table border="1">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Indirizzo</th>
            <th>Codice Fiscale</th>
            <th>Sposato</th>
            <th>Figli</th>
            <th>Mansione</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dato 1</td>
            <td>Dato 2</td>
            <td>Dato 3</td>
            <td>Dato 4</td>
            <td>Dato 5</td>
            <td>Dato 6</td>
            <td>Dato 7</td>
        </tr>
    </tbody>
</table>